@font-face {
	font-family: Besom;
	src: url("../fonts/Besom.otf");
}
@font-face {
	font-family: GothamLight;
	src: url("../fonts/GothamLight.otf");
}
@font-face {
	font-family: GothamMedium;
	src: url("../fonts/GothamMedium.otf");
}

* {
	font-family: GothamLight;
}

ul#navbar {
	position: absolute;
	font-family: Raleway;
	font-size: 14px;
	letter-spacing: 3px;
	list-style-type: none;
	z-index: 1;
}

ul#navbar li {
	float: left;
	text-align: center;
	margin: 10px -10px;
}

ul#navbar a {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
	border-radius: 3px;
	padding: 2px 3px 2px 5px;
	margin-right: 40px;
}

ul#navbar a.activeNav {
	background-color: #FFF;
	color: #172F31;
}

ul#navbar a:hover {
	background-color: #FFF;
	color: #172F31;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

div#landing {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
}

div#title {
	font-size: 8em;
	color: #fff;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Besom;
	text-align: center;
	white-space: nowrap;
}

a#changeBackground {
	color: #fff;
	font-family: Raleway;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 24px 40px;
}

a#downArrow {
	float: right;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 32px;
}

div#content {
	height: 100%;
	background-color: white;
	position: relative;
}

div#about {}

div#work {
	background-color: #EEEEEE;
}

h1#workHeader {
	text-align: center;
	margin: 0;
	padding: 3% 0;
}

div.boxWrapper {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}

div.workBox {
	background-color: #d7d7d7;
	width: 29.333%;
	min-width: 300px;
	height: 10%;
	margin-right: 3%;
	margin-bottom: 3%;
	display: inline-block;
	border-radius: 7px;
}

img.boxImage {
	width: 100%;
	border-radius: 7px 7px 0 0;
}

div#footer {
	padding: 40px 0;
	background-color: #252A30;
	color: #afb2b6;
	text-align: center;
}

div.temp {
	height: 300px;
}
