.navbar-transparent {
    background-color: transparent !important;
    transition: 0.5s;
    padding-top: 30px;
}

.cover {
    height: 100vh;
    background: url("nasa-S3hQU-5_yjg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-text {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.down-arrow {
    font-size: 2em;
    position: absolute;
    left: 50%;
    bottom: 0;
    text-decoration: none;
    color: white;
    padding-bottom: 1em;
}

.section:before {
    display: block;
    height: 56px;   /* equal to the header height */
    margin-top: -56px;  /* negative margin equal to the header height */
    visibility: hidden;
    content: "";
}

.inner-section {
    padding-top: 50px;
}

#content {
    height: 150vh;
}