<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tyler</title>
</head>

<p>Vists: <%= testString %></p>

Repos:
<ul>
    <% repos.forEach(function(repo) { %>
        <li><%= repo.name %> - <%= repo.description %></li>
    <% }); %>
</ul>

</body>
</html>